<h1>My tasks</h1>

<div class="center-items">
  <ul>
    <% @tasks.each do |task| %>
    <li>
      <input type="checkbox" <%= task.completed ? "checked" : "" %>>
      <%= link_to task.title, task_path(task.id) %>
      <%= link_to "",
        task_path(task.id),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
        class: "fa-solid fa-trash"
      %>
    </li>
    <% end %>
  </ul>
</div>

<%= link_to "Add a new task", new_task_path, class: "btn-new-task" %>
